body {
	font-family: system-ui, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	background: #f9f9f9;
	color: #333;
    justify-items: center;
}

main {
	max-width: 1000px;
}

header,
footer {
	text-align: center;
	padding: 0;
    margin: 0;
	background: #333;
    color: #f9f9f9;
}

a {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3 {
	color: #222;
}

ul {
	padding-left: 1.5rem;
}

article {
	background: #fff;
	padding: 1.5rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
